//Menu wrapper
.menu-list {
    width: 224px;
    padding-bottom: 8px;

    .menu-item {
        width: 100%;
        justify-content: flex-start;
        margin-left: 0;
        border-radius: 0;
        font-weight: 400;
        padding: 11px 16px;
        line-height: 1.8rem;

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.1);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

//Menu items
.menu-item {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// menu header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    background: transparent;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
    font-weight: 500;
}

.tippy-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -9px;
    right: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
